*{
    margin: 0%;
    padding: 0%;
    
}

/* navbar 1 */
.navbar-nav{
    display: flex;
    gap: 3rem;
    font-size: 1rem;
    justify-content: center;
    text-transform: capitalize;
    height: 80px;
    list-style-type: none;
    align-items: center;
    cursor: pointer;
}
.navbar-nav :hover{
    color: rgb(64, 64, 247);
}

.nav-link{
   color: black;
   text-decoration: none;
}

i{
    font-size: 1.3rem;
}


img{
    width: 5%;
    padding: 10px;
}
.navbar2{
    padding-left: 15%;
    cursor: pointer;
}

h4{
    background-color: rgb(220, 223, 223);
    text-align: center;
    height: 25px;
    align-items: center;
    font-weight: lighter;
    
}
span{
    color: rgb(64, 64, 247);
    cursor: pointer;
}
span:hover{
    text-decoration: underline;
}
pre{
    text-transform: capitalize;
}
h1{
    font-size: 4rem;
    padding-top: 05%;
    padding-left: 10%;
}
h2{
    font-size: 2rem;
    float: right;
    padding-bottom: 4.0%;
}
video{
    width: 100%;
    border-radius: 10%;
    
}